<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/fidel_app/bootstrap/css/bootstrap.min.css">
  <script src="/static/fidel_app/jquery-1.11.2.min.js"></script>
  <script src="/static/fidel_app/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container">
<div class="row">
<div class="col-sm-1">
<a class="navbar-brand" href="/">Fidel</a>
</div>
<div class="col-sm-5">
            <form action="/search/" class="navbar-form">
	      <div class="form-group" style="width:100%;">
		<div class="input-group" style="width:100%;">
        	    <input type="text" class="form-control" placeholder="Search" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
		 </div>
		</div>
            </form>
</div>
<div class="col-sm-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/requests/">Requests</a></li>
        <li><a href="/messages/">Messages</a></li> 
        <li><a href="/notifications/">Notifications</a></li>
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
               My Account
               <b class="caret"></b>
        </a>
	<ul class="dropdown-menu">
               <li><a href="/myprofile/">Profile</a></li>
               <li><a href="/advertisements/">Advertisements</a></li>
               <li><a href="/requirements/">Requirements</a></li>
	       <li><a href="/logout/">Sign Out</a></li>
         </ul>
	</li>
      </ul>
</div>
</div>
</div>
</nav>
<div class="container">
<h4> Advertisement :</h4>
        <div id="advertisement" class="tab-pane fade in active">
        <p>{{ no_add}}</p>
          {% for adv in advts %}
          <div class="thumbnail">
          <div class="row">
            <div class="col-sm-4">
            <div class="thumbnail">
            <img src="/static/fidel_app/images/{{adv.pict_dict.items.0.1}}" class="img-responsive img-thumbnail" alt="{{item}}" style="height:200px">
            </div>
            </div>
            <div class="col-sm-8">
             <div class="thumbnail">
             <div class="table-responsive">
                <table class="table" style="margin-bottom:0">
                  <tr>
                  <td> Item Type</td><td> {{adv.item_type}}</td>
                  <tr><td> Price</td><td> Rs. {{adv.price}}</td></tr>
                  <tr><td> Original Price</td><td> Rs. {{adv.original_price}}</td></tr>
                 <tr> <td> Period of use</td><td> {{adv.period_of_use}} months</td></tr>
                  {% for key,value in adv.attr_dict.items %}
                  <tr>
                  <td> {{key}}</td><td> {{value}}</td>
                  </tr>
                  {% endfor %}
                </table>
          </div>
          </div>
          </div>
          </div>
          </div>
          {% endfor %}
          </div>
</body>
</html>