<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/fidel_app/bootstrap/css/bootstrap.min.css">
  <script src="/static/fidel_app/jquery-1.11.2.min.js"></script>
  <script src="/static/fidel_app/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container">
<div class="row">
<div class="col-sm-1">
<a class="navbar-brand" href="/">Fidel</a>
</div>
<div class="col-sm-5">
            <form action="/search/" class="navbar-form">
	      <div class="form-group" style="width:100%;">
		<div class="input-group" style="width:100%;">
        	    <input type="text" class="form-control" placeholder="Search" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
		 </div>
		</div>
            </form>
</div>
<div class="col-sm-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/requests/">Requests</a></li>
        <li><a href="/messages/">Messages</a></li> 
        <li><a href="/notifications/">Notifications</a></li>
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
               My Account
               <b class="caret"></b>
        </a>
	<ul class="dropdown-menu">
               <li><a href="/myprofile/">Profile</a></li>
               <li><a href="/advertisements/">Advertisements</a></li>
               <li><a href="/requirements/">Requirements</a></li>
	       <li><a href="/logout/">Sign Out</a></li>
         </ul>
	</li>
      </ul>
</div>
</div>
</div>
</nav>

<div class="container">
<div class="col-sm-3"></div>
<div class="col-sm-6 table-responsive">
<h1>Post an Advertisement</h1><br>
<form action="/create_advertisement/" method="post" role="form" id="id_form" enctype="multipart/form-data" > {% csrf_token %}
<table class="table" id="id_table">
{% for field in form %}
<tr id = row_{{ field.name }}><td>
  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
</td><td>
  {{field}}   {{ field.errors|striptags }}
</td></tr>
{% endfor %}
{{image_form_set}} 
</table>
<a class="pull-right" href="javascript:void(0)" id="add_image_form">Add Image</a>
<input type="submit" value="Add"  class="btn btn-primary">
<a href="/" class="btn btn-default">Cancel</a>
</form>
</div>
<div class="col-sm-3"></div>
</div>

<script type="text/javascript">
var form_count = {{image_form_set.total_form_count}};
$('#add_image_form').click(function() {    
    var form = '{{image_form_set.empty_form|escapejs}}'.replace(/__prefix__/g, form_count);
    form_count++;
    $('#id_table').append(form);
    $('#id_form-TOTAL_FORMS').val(form_count);
    if(form_count == 5)
    { $("#add_image_form").hide();}});
var attr = "";
$(document).ready(function(){
for(var a in attr){
        $('#row_'+attr[a]).remove();
    }    
    var cat = $(this).find(':selected').text();
    if (cat != "---------")    {
    $.get('/form_attributes/', {category: cat}, function(data){
    $("#row_period_of_use").after(data);});}});
$("#id_item_type").change(function(){    
    $("[id*=row_]:gt(3)").remove();    
    var cat = $(this).find(':selected').text();
    if (cat != "---------")    {
    $.get('/form_attributes/', {category: cat}, function(data){
    $("#row_period_of_use").after(data);});}});
</script>
</body>
</html>